<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Adresses</title>
<meta http-equiv="Content-Type" content="text/html ; charset=UTF-8" />
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" th:href="@{./ adresses}">Adresses <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" th:href="@{./greeting}">greeting</a>
        <a class="nav-item nav-link" th:href="@{./greeting?name=ENSIM}">Greeting ENSIM</a>
        <a class="nav-item nav-link disabled" th:href="@{/}">smth</a>
      </div>
    </div>
  </nav>
</body>
</html>